html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,

*:after {
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    background-image: url('img/header-bg-goinnova.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 80px;
}

/**Utilidades**/

/**Global**/
h2{
    font-size: 3.5rem;
}

/**Header**/

.logoheader{
  width:30rem;
}
.opciones{
  position: absolute;
  float: left;
  left: 1200px;
  top: 20%;
  margin-left: 10px;
  margin-top: 10px;
}|
#nav1{
  color: black; font-size: 1.5rem; margin-right: 25px; font-weight: bold; text-decoration: none;
}
a{
  color: black;
}

/**Noticias**/


/**Main**/

/**Footer**/
